@model IEnumerable<Category>

<div class="my-4">
    <ul class="list-group">
        @foreach (var cat in Model)
        {
            <a asp-controller="Product" asp-action="Index" asp-route-id="@cat.CategoryID">
           <li class="list-group-item">
                @cat.CategoryName
            </li>
            </a>
        }
    </ul>
</div>