@page "/getintouch"

<div class="text-center  my-5" style="border: solid red 2px;">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone"></i>
        <p>
            Alo 180 Btk AKADEMi bilgi ve destek hatti
        </p>
        <i class="fa-solid fa-address-book"></i>
        <p>
            Eskişehir/Odunpazari Emek mh. 
        </p>
        <i class="fa-solid fa-envelope"></i>
        <p>
            destek@btkakademi.gov.tr
        </p>
    </div>
</div>